@tailwind base;
@tailwind components;
@tailwind utilities;

.state-effects {
  @apply hover:scale-105 focus:scale-105 active:scale-[1.02] transition;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4f46e5;
  border-radius: 10px;
}
